<!DOCTYPE html>
<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="Description" content="A Dropbox Clone By Tom Driscoll">
    <link rel="stylesheet" href="https://use.typekit.net/bea7cfi.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@300;400;500;600&display=swap" rel="stylesheet">
    <title>Droppyboy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
     <script type="text/javascript">
      window.logoBlack = "<%= asset_path('droppy-boy-black.gif') %>"
      window.logoWhite = "<%= asset_path('droppy-boy-white.gif') %>"
      window.musicIcon = "<%= asset_path('music.jpg') %>"
    </script>
  </body>
</html>
